:root {
    --white: #fffbfb;
    --lightGrey: #f5f5f6;
    --grey: #f0eef1;
    --activeScale: scale(1.02);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
    font-weight: 400;
}

body {
    background-color: var(--grey);
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--white);
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: 2em 1em;
}

.logo {
    font-weight: 600;
    font-size: 2.5em;
    cursor: pointer;
}

.logo:active {
    -webkit-transform: var(--activeScale);
}

.btnLogIn {
    border: none;
    border-radius: 5px;
    padding: .5em .7em;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
}

.btnLogIn:active {
    font-size: 600;
    -webkit-transform: var(--activeScale)
}

.main {
    height: 100vh;
}

.addBookButton {
    text-align: center;
    margin: 3em;
    cursor: pointer;
}

.addBook {
    border: none;
    font-size: 2em;
    cursor: pointer;
}

.addBook:active {
    -webkit-transform: var(--activeScale)
}