* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
    font-weight: 400;
}


body {
    background-color: rgb(252, 253, 239);
}

header {
    display: flex;
    justify-content: center;
    background-color: white;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: 2em 1em;
}

.logo {
    font-weight: 600;
}

.headerContainer div>button {
    border: none;
    border-radius: 5px;
    padding: .5em .7em;
    font-size: 1.2em;
    font-weight: 500;
}