* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'didot', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


body {
    background-color: rgb(252, 253, 239);
}

header {
    display: flex;
    justify-content: center;
    background-color: white;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: 2em 1em;
}

.logo {
    font-weight: bolder;
}

.headerContainer div>button {
    border: none;
    border-radius: 5px;
    padding: .5em .7em;
    font-size: 1.2em;
}